@tailwind base;
@tailwind components;
@tailwind utilities;

.selected-tile {
  background-color: #fff; /* example: yellow-400 */
  color: #1f2937; /* example: gray-800 */
  border-radius: 9999px; /* full rounded */
}